.bg-MainUnivalle{
  background-color: #9D0044;
}
.btn-flat {
  background-color: #FF4F9B;
  color: white;
}
.content{
  padding: 12px;
  height: 3000px;
}

.progress {
  accent-color: #231F20;
}

.navLink{
  color: white;
}

.custom-nav{
  color: white;
  align-content: stretch;
}